/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styling */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(185, 75%, 39%);            ;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -650px left -550px, bottom -750px right -400px; 
    width: 60%;
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width:250px;
    height:250px;
    border-radius: 10px;
    text-align: center;
}

.imgCard {
    background-image: url(./images/bg-pattern-card.svg); 
    padding:15px;
}

.imgCard img {
    border-radius: 50%;
    width: 65px;
    border:5px solid white;
    position: relative;
    top: 0;

}

.mainInfo {
    border-bottom: 2px solid hsla(0, 34%, 25%, 0.1);
    box-shadow: hsl(0, 0%, 59%) 1px 1px 1px;
    padding: 15px;
}
.name {
    color:hsl(229, 23%, 23%);
    font-size: small;
    font-weight: bold;
}

.age {
    font-size: small;
    color: hsl(0, 0%, 59%);
}

.city {
    display:block;
    color: hsl(0, 0%, 59%);
    font-size: x-small;
    padding: 10px;
}

.profileInfo {
    display: flex;
    padding: 15px;
}

.profile-item {
    flex:1;
    padding: 5px;
}

.number {
    display:block;
    color:hsl(229, 23%, 23%);
    font-size: small;
    font-weight: bold;
}

.text {
    color: hsl(0, 0%, 59%);
    font-size: x-small;
    letter-spacing: 0.5px;
}
